<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OnlineAssistance</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>sarandon.assistance.servlet.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>sarandon.assistance.servlet.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendCita</display-name>
    <servlet-name>SendCita</servlet-name>
    <servlet-class>sarandon.assistance.servlet.SendCita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCita</servlet-name>
    <url-pattern>/SendCita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RememberPass</display-name>
    <servlet-name>RememberPass</servlet-name>
    <servlet-class>sarandon.assistance.servlet.RememberPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RememberPass</servlet-name>
    <url-pattern>/RememberPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUser</display-name>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>sarandon.assistance.servlet.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/GetUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPortfolio</display-name>
    <servlet-name>GetPortfolio</servlet-name>
    <servlet-class>sarandon.assistance.servlet.GetPortfolio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPortfolio</servlet-name>
    <url-pattern>/GetPortfolio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPerfiles</display-name>
    <servlet-name>GetPerfiles</servlet-name>
    <servlet-class>sarandon.assistance.servlet.GetPerfiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPerfiles</servlet-name>
    <url-pattern>/GetPerfiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImages</display-name>
    <servlet-name>GetImages</servlet-name>
    <servlet-class>sarandon.assistance.servlet.GetImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImages</servlet-name>
    <url-pattern>/GetImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetColorsModBoard</display-name>
    <servlet-name>GetColorsModBoard</servlet-name>
    <servlet-class>sarandon.assistance.servlet.GetColorsModBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetColorsModBoard</servlet-name>
    <url-pattern>/GetColorsModBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSensaciones</display-name>
    <servlet-name>GetSensaciones</servlet-name>
    <servlet-class>sarandon.assistance.servlet.GetSensaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSensaciones</servlet-name>
    <url-pattern>/GetSensaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFrases</display-name>
    <servlet-name>GetFrases</servlet-name>
    <servlet-class>sarandon.assistance.servlet.GetFrases</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFrases</servlet-name>
    <url-pattern>/GetFrases</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetProject</display-name>
    <servlet-name>SetProject</servlet-name>
    <servlet-class>sarandon.assistance.servlet.SetProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetProject</servlet-name>
    <url-pattern>/SetProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPago</display-name>
    <servlet-name>SetPago</servlet-name>
    <servlet-class>sarandon.assistance.servlet.SetPago</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPago</servlet-name>
    <url-pattern>/SetPago</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPagoConTPV</display-name>
    <servlet-name>SetPagoConTPV</servlet-name>
    <servlet-class>sarandon.assistance.servlet.SetPagoConTPV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPagoConTPV</servlet-name>
    <url-pattern>/SetPagoConTPV</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>PagoConTPVHecho</display-name>
    <servlet-name>PagoConTPVHecho</servlet-name>
    <servlet-class>sarandon.assistance.servlet.PagoConTPVHecho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagoConTPVHecho</servlet-name>
    <url-pattern>/PagoConTPVHecho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPagoConCodigo</display-name>
    <servlet-name>SetPagoConCodigo</servlet-name>
    <servlet-class>sarandon.assistance.servlet.SetPagoConCodigo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPagoConCodigo</servlet-name>
    <url-pattern>/SetPagoConCodigo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPagoRegalo</display-name>
    <servlet-name>SetPagoRegalo</servlet-name>
    <servlet-class>sarandon.assistance.servlet.SetPagoRegalo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPagoRegalo</servlet-name>
    <url-pattern>/SetPagoRegalo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProject</display-name>
    <servlet-name>DeleteProject</servlet-name>
    <servlet-class>sarandon.assistance.servlet.DeleteProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProject</servlet-name>
    <url-pattern>/DeleteProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFile</display-name>
    <servlet-name>RemoveFile</servlet-name>
    <servlet-class>sarandon.assistance.servlet.RemoveFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFile</servlet-name>
    <url-pattern>/RemoveFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetInformacion</display-name>
    <servlet-name>SetInformacion</servlet-name>
    <servlet-class>sarandon.assistance.servlet.SetInformacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetInformacion</servlet-name>
    <url-pattern>/SetInformacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet2</servlet-name>
    <servlet-class>sarandon.assistance.servlet.UploadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet2</servlet-name>
    <url-pattern>/UploadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServletLdlcImg</servlet-name>
    <servlet-class>sarandon.assistance.servlet.UploadServletLdlcImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletLdlcImg</servlet-name>
    <url-pattern>/UploadServletLdlcImg</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>UploadServletLDLC</servlet-name>
    <servlet-class>sarandon.assistance.servlet.UploadServletLDLC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletLDLC</servlet-name>
    <url-pattern>/UploadServletLDLC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServletFrase</servlet-name>
    <servlet-class>sarandon.assistance.servlet.UploadServletFrase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletFrase</servlet-name>
    <url-pattern>/UploadServletFrase</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         /tomcat8/wtpwebapps/OnlineAssistance/moodboarcitos
     </param-value>
  </context-param>
  <servlet>
    <servlet-name>FileUploadHandler</servlet-name>
    <servlet-class>sarandon.assistance.servlet.FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadHandler</servlet-name>
    <url-pattern>/FileUploadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DecoradoresController</servlet-name>
    <servlet-class>sarandon.assistance.servlet.DecoradoresController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecoradoresController</servlet-name>
    <url-pattern>/DecoradoresController</url-pattern>
  </servlet-mapping>
  <listener>
        <listener-class>com.twilio.chat.TwilioChatGuiceServletConfig</listener-class>
    </listener>


  <servlet>
    <servlet-name>LDLCCreate</servlet-name>
    <servlet-class>sarandon.decotheco.ldlc.LDLCCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LDLCCreate</servlet-name>
    <url-pattern>/ldlccreate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateItem</servlet-name>
    <servlet-class>sarandon.decotheco.ldlc.CreateItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateItem</servlet-name>
    <url-pattern>/CreateItem</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreateFromExtension</servlet-name>
    <servlet-class>sarandon.decotheco.ldlc.CreateFromExtension</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFromExtension</servlet-name>
    <url-pattern>/CreateFromExtension</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreateItemFromFondos</servlet-name>
    <servlet-class>sarandon.decotheco.ldlc.CreateItemFromFondos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateItemFromFondos</servlet-name>
    <url-pattern>/CreateItemFromFondos</url-pattern>
  </servlet-mapping>
  

    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
        <param-name>cors.allowed.origins</param-name>
        <param-value>*</param-value>
    </init-param>
    <init-param>
        <param-name>cors.allowed.methods</param-name>
        <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
    <init-param>
        <param-name>cors.allowed.headers</param-name>
        <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
    </init-param>
    <init-param>
       <param-name>cors.exposed.headers</param-name>
       <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
    </init-param>
    <init-param>
        <param-name>cors.support.credentials</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>cors.preflight.maxage</param-name>
        <param-value>10</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>