input {
	webkit-box-shadow: 0 0 0 0 white inset;
	margin-top:3%
}
.fondo { 
	width:100%;
	height:500px;
	background-image: url("../img/login/fondo.jpg"); 
	background-repeat:no-repeat; 
	background-position:bottom right; 
	background-size:cover; 
} 

.input{
	margin-top:4%
}
.lineaSeparadora {
	border-left:1px solid black
} 
#login-modal input[type=text], input[type=password] {
    margin-top: 4%;
}
@media (max-width: 1650px) { 
	 
}
@media (max-width: 1450px) { 
	.fondo {  
		height:420px; 
	} 
	 
} 
@media (max-width: 1300px) { 
 
}
@media (max-width: 1000px) { 
	
	.fondo {  
		height:350px; 
	} 
	 
	
} 

@media (max-width: 980px) { 
	.lineaSeparadora {
 		border:0
 	}
	 
} 

@media (max-width: 600px) { 
	
	hr.v{ 
		height: 15px;  
	}
	 .fondo {  
		height:350px; 
	} 
	
} 
@media (max-width:550px) {
	
}
@media (max-width:500px) {
 	
	
}
@media (max-width: 400px) { 
	 
	
} 
@media (max-width: 300px) { 
	 
}