.news {
	padding:4px;
	margin-top:1px;
	width:30%;
} 
.newsEnviar {
	padding:4px;
	margin-top:1px;
	width:30%;
	background-color:black;
	color:white
} 
.fondo {  
	margin-top:3%;  
	padding-bottom:2%;
	background-image: url("../img/forContacto/fondo.png"); 
	background-repeat:repeat-y;
	background-size: 100%;    
	-moz-background-size: 100%;  
	  -o-background-size: 100%;   
	 -webkit-background-size: 100%;  
	   -khtml-background-size: 100%;  
}
@media (max-width: 1000px) { 
	.news {
		padding:2px;
		margin-bottom:2%;
		width:80%;
	}
	.newsEnviar {
		padding:2px;
		margin-bottom:5%;
		width:80%;
		background-color:black;
		color:white
	} 
}