.boton_grande_pasosH >div >img:hover{
	opacity:1;
}
.boton_grande_pasosH >div > img{
	opacity:0;
}

.fuentecomentariosopiniones{
	
    font-family: 'flanelafont';
    letter-spacing: 0;
    font-size: 15pt;
    
}
.bordeparaopiniones{
	border-left-style: solid;
	border-left-width: 1px;
	
}
.divforcompartirfacetwit2{
	width:40%
}
.fondomoodboardforHomeApp{	
    padding: 0;
    margin-top:5vw;
    margin-left:0px;
    margin-right:0px;
    background: url(../img/forHomeApp/floresFondo.jpg) center;
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    /*overflow: hidden;*/
    
}

.fondomoodboardforHomeAppMarmol{	
    padding: 0;
    margin-top:5vw;
    margin-left:0px;
    margin-right:0px;
    background: url(../img/forHomeApp/marmol-fondo.jpg) center;
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    /*overflow: hidden;*/
    
}

.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  transition: opacity ease-out 2s;
  left: 0;
  opacity: 0; /* hide all slides */
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}
.carousel.fade .item:first-child {
  top: auto;
  opacity: 1; /* show first slide */
  position: relative;
}
.carousel.fade .item.active {
  opacity: 1;
}

.botonDecoen4pasos {
    background-color: rgba(77, 76, 74, 0.6);
    cursor: pointer;
    padding: 5px;
}
.fondo {  
	float:left;
	margin-right:8%;
	margin-top:2%;  
	padding-top:3%;
	padding-bottom:3%;
	margin-bottom:2%;
	background-image: url("../img/forContacto/fondo.png"); 
	background-repeat:no-repeat;
	background-size: 100%;    
	-moz-background-size: 100%;  
	  -o-background-size: 100%;   
	 -webkit-background-size: 100%;  
	   -khtml-background-size: 100%;  
}
@media (max-width: 1000px) { 
	.fondo {  
	float:left;
	margin-right:8%;
	margin-top:2%;  
	padding-top:8%;
	padding-bottom:8%;
	margin-bottom:2%;
	background-image: url("../img/forContacto/fondo.png"); 
	background-repeat:no-repeat;
	background-size: 100%;    
	-moz-background-size: 100%;  
	  -o-background-size: 100%;   
	 -webkit-background-size: 100%;  
	   -khtml-background-size: 100%;  
}
}
@media only screen and (min-width: 1px) {
	.cartelPrincipal {
	    font-size: 10pt;
	    color: white;
	    letter-spacing: 3px;
	}
	.cartelSecundario {
	    font-size: 7pt;
	    color: white;
	    letter-spacing: 3px;
	    
	}
	.noloveo992{
		display: none;
	}
	.opiniones992{
		position: relative!important;
		width: 100%!important;
	}
	.opinionestitulo{
	padding-top: 15px;
    border-top-style: solid;
    border-top-width: 1px;
	}
	
	.divIzqCajaDeco{
		
		width: 100%!important;
	}
	.divDerCajaDeco{
		position: relative!important;
		width: 100%!important;
		height: auto!important;
		left: 0!important;
		margin-top: -14%;
	}
	.imgDerCajaDeco{
		height:auto!important;
		width: 100%!important;
	}
		.divIzqMailDeco{
		width: 100%!important;
		
	}
	.divDerMailDeco{
		position: relative!important;
		width: 100%!important;
		height: auto!important;
		left: 0!important;
		margin-top: -14%;
	}
	.imgDerMailDeco{
		height:auto!important;
		width: 100%!important;
	}
}
@media only screen and (min-width: 510px) {
	.cartelPrincipal {
	    font-size: 10pt;
	    color: white;
	    letter-spacing: 3px;
	}
	.cartelSecundario {
	    font-size: 7pt;
	    color: white;
	    letter-spacing: 3px;
	    
	}
	.noloveo992{
		display: none;
	}
	.opiniones992{
		position: absolute!important;
		width: 66%!important;
	}
	.opinionestitulo{
	padding-top: 0px;
    border-top-style: none;
    border-top-width: 0px;
	}
	.divIzqCajaDeco{
		
		width: 100%!important;
	}
	.divDerCajaDeco{
		position: relative!important;
		width: 100%!important;
		height: auto!important;
		left: 0!important;
		margin-top: -14%;
	}
	.imgDerCajaDeco{
		height:auto!important;
		width: 100%!important;
	}
	.divIzqMailDeco{
		width: 100%!important;
		
	}
	.divDerMailDeco{
		position: relative!important;
		width: 100%!important;
		height: auto!important;
		left: 0!important;
		margin-top: -14%;
	}
	.imgDerMailDeco{
		height:auto!important;
		width: 100%!important;
	}
}

@media only screen and (min-width: 600px) {
	.cartelPrincipal {
	    font-size: 15pt;
	    color: white;
	    letter-spacing: 3px;
	    
	}
	.cartelSecundario {
	    font-size: 9pt;
	    color: white;
	    letter-spacing: 3px;
	    padding-left: 10hv;
	    padding-right: 20hv;
	}
	.noloveo992{
		display: none;
	}
	.opiniones992{
		position: absolute!important;
		width: 66%!important;
	}
	.opinionestitulo{
	padding-top: 0px;
    border-top-style: none;
    border-top-width: 0px;
	}
	.divIzqCajaDeco{
		width: 46%!important;
		
	}
	.divDerCajaDeco{
		position: absolute!important;
		width: auto!important;
		height: 100%!important;
		left: 46%!important;
		    margin-top: 0px;
	}
	.imgDerCajaDeco{
		height:100%!important;
		
	}
	.divIzqMailDeco{
		width: 56%!important;
		
	}
	.divDerMailDeco{
		position: absolute!important;
		width: auto!important;
		height: 100%!important;
		left: 56%!important;
		    margin-top: 0px;
	}
	.imgDerMailDeco{
		height:100%!important;
		
	}
	
}
.fondoApp {   
	background-repeat:repeat-y;
	top:60px;
	z-index:-1;
	// background-image: url("../img/forHomeApp/fondo-3D.png"); 
} 
@media (max-width: 1100px) { 
	.fondoApp { 
		background-image: url(""); 
		
	} 
}  
@media (max-width: 1000px) { 
	.divforcompartirfacetwit2{
		width:80%;
	}
	.comparte {
		display:none
	}
}
@media (max-width: 800px) { 
	.divforcompartirfacetwit2{
		width:100%;
		text-align:center
	} 
}
@media only screen and (min-width: 992px) {
	.noloveo992{
		display: inline;
	}
	.opiniones992{
		position: absolute!important;
		width: 66%!important;
	}
	.opinionestitulo{
	padding-top: 0px;
    border-top-style: none;
    border-top-width: 0px;
	}
	
}

