.item {
    float: left;
    position: relative; 
} 
.caja2 {
	height:auto;   
    padding: 10px;
    border-radius:7px;
    margin-top: 0!important;
    float:left;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative; 
} 
.imgW {
	width:100%
}
.grid-sizer { width: 33.33%; }
.item { width: 33.33%; } 

@media (max-width: 800px) {
	.grid-sizer { width: 50%; }
    .item { width: 50%; }
}
@media (max-width: 600px) {
	.grid-sizer { width: 100%; }
  	.item { width: 100%; }
}